/** loader **/

@keyframes spin { to { transform: rotate(1turn); } }

@keyframes fade-out { to { opacity: 0; } }

/* apparition progressive des menus restaurants */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

