/** Les mixins en SCSS sont des morceaux de code réutilisables qui permettent d'inclure des styles CSS de manière modulaire.**/

/** displays flexbox **/

@mixin flex-row($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}
 
@mixin flex-column($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

/** cartes restaurants **/

@mixin card {
    @include flex-column;
    position: relative;
    background: $light-color;
    border-radius: 15px;
    margin-bottom: 25px;
}

@mixin gradient-background($primary-color, $secondary-color) {
    background: linear-gradient(1deg, $primary-color 0%, $secondary-color 100%);
}

/** ombre portée sur le bouton explorer **/

@mixin box-shadow($color: rgba(63, 59, 59, 0.15)) {
    box-shadow: 0 0.3rem 0.3rem $color, 0 -0.3rem 0.3rem $color;
}

/** transition de la couleur sur le bouton coeur **/

@mixin transition {
    transition: all 0.5s ease-in-out;
}

/* titres h2 */

@mixin h2 {
    font-size: 25px;
    padding: 25px 0 25px 20px;
}