/** Les variables en SCSS permettent de stocker des valeurs réutilisables dans une 
feuille de style, pour simplifierla gestion et la mise à jour des propriétés communes. */

/** couleurs du site **/

$couleur-primaire: #9356DC;

$couleur-secondaire: #FF79DA;

$couleur-tertiare: #99e2d0;

$noir: #000000;

$blanc: #ffffff;

$gris: #7e7e7e;

$vert: #008766;

$background-color: #f7f7f7;

$geolocalisation-couleur: #eaeaea;

$footer-background: #353535;
