@import "./_variables";
@import "./_mixins";
@import "./_animation";

body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

/** loader **/

.loader {
  @include flex-row;
  position: fixed;
  inset: 0;
  background-color: rgba($background-color, 0.9);; /** variable de couleur & function intensité **/
  z-index: 9999;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  animation: fade-out 1s forwards 2s;
}

.rotation:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: $primary-color transparent $grey-color;
  animation: spin 1.2s linear infinite;
}

/** version desktop **/

.menu-responsive-one, .menu-responsive {
  width: 80%;
}

.menu-responsive-one {
  @include flex-row;
  margin-bottom: 40px;
}

.logo,
.geolocalisation {
  @include flex-row;
  padding: 1.25rem 1rem;
  font-weight: 600;
  font-size: 20px;
  gap: 20px;
}

.geolocalisation {
  background-color: $accent-color;
}

.container-bouton {
  @include flex-row;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: $background-color;
  text-align: center;
  font-size: 25px;

  & p {   /** concaténation ( = relier ) en utilisant une esperluette (&) **/
    font-weight: 300;
    margin-top: -1px;
    margin-bottom: 45px;
  }
}

.bouton {
  @include gradient-background($primary-color, $secondary-color);
  @include box-shadow;
  color: $background-color;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-bottom: 50px;
  transition-property: transform;
  transition-duration: 150ms;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
    opacity: 0.8;
  }
}

.menu-container {
  @include flex-column;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-top: 0px;
  align-content: center;

  & .menu-btn {
    @include flex-row;
    height: 72px;
    background: $background-color;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    align-items: center;
    gap: 10%;
    margin: 0 0 30px 30px;
    width: 90%;
    border: none;
    text-decoration: none;
    color: $noir;
    font-weight: 700;
    justify-content: flex-start;
    cursor: pointer;
  }
}

.menu-container h2 {
  @include h2
}

.menu-nombre {
  @include flex-column;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: -12px;
  width: 1.5em;
  height: 1.5em;
  background: $primary-color;
  border-radius: 50%;
  color: $background-color;
  min-width: 1.5em;
}

.cards {
  @include flex-row;
  background: $background-color;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;

  .card {
    @include card;
    cursor: pointer;

    &-content {
      padding: 3.4vw;
      width: 35%;
      margin-top: -55px;
    }

    &-img {
      object-fit: cover;
      height: 250px;
      border-radius: 15px 15px 0 0;
      width: 100%;
    }

    &-titre {
      line-height: 0.5;
      padding-left: 13px;
      margin-bottom: 15px;
    }

    &-icone {
      @include flex-row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.cards h2 {
  @include h2;
}

.notification-nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $notification-color;
  color: $green-color;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 1;
}

/** icônes **/

.fa-solid {
  color: $grey-color;
}

a:hover .fa-store:before {
  color: $primary-color;
}

.fa-store:before,
.fa-list:before,
.fa-mobile-screen-button:before {
  font-size: 20px;
}

/** icône coeur **/

.icone-coeur {
  position: relative;
}

.icone-coeur input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.icone-coeur .fa-heart {
  position: absolute;
  @include transition;
  margin: -5px 0 0 -55px;
  font-size: 20px;

}

.icone-coeur input[type=checkbox]:checked ~ .icone-changement {
  opacity: 1;
}

.icone-changement {
  opacity: 0;
  @include gradient-background($primary-color, $secondary-color);
  background-clip: text;
  color: transparent;
}

/** footer **/

.footer {
  @include flex-row;
  background: $footer-background;
  padding-bottom: 22px;
  height: 186px;
  align-items: center;
  justify-content: flex-end;

  &-logo {
    filter: invert(100%);
    width: 120px;
    padding: 22px 0 16px 24px;
    margin: 0 60px;
  }

  &-icone {
    @include flex-row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    gap: 12px;
    line-height: 10%;
  }

  &-icone-- i {
    font-size: 12px;
  }

  & .fa-handshake-angle:before, 
    .fa-utensils:before, 
    a, 
    p, 
    .icone {
    color: $background-color;
    text-decoration: none;
    cursor: pointer;
  }
}
.footer-responsive-logo{
  order: 5;
}

/** version mobile **/

@media (max-width: 768px) {
  .menu-responsive-one, .cards, .footer {
    @include flex-column;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;
  }

  .geolocalisation {
    @include box-shadow;
  }
  
  .cards {
    .card {
      @include card;

      &-content {
        width: 93%;
      }
    }
  }

  .footer-logo {
    margin: 0;
  }

  .footer-responsive-logo {
    order: 0;
  }

   .content {
    width: 100%;
  }

  .icone-content {
    justify-content: space-between;
  }
}

/** Version desktop restaurant **/

/* header */

.fleche-retour {
  position: relative;
}

.fleche {
  position: absolute;
  left: 2rem;
  width: 2rem;
  top: 50%;
  @include flex-row;
  align-items: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: $noir;
}

/* bannière */

.banner {
  width: 100%;
  height: 390px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* section restaurant */

.restaurant-container {
  position: absolute;
  top: 430px;
  width: 100%;
}

.content {
  border-radius: 30px 30px 0 0;
  background: $background-color;
  margin: auto;
  width: 70%;
}

/* section restaurant - card-container */

.restaurant-section {
  padding-left: 20px;
  padding-top: 1px;
}

.card-container {
  padding-right: 50px;

  & h2 {
    margin-right: 4rem;
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    padding: 1.25rem 1rem;
  }

  & i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: -30px;
    cursor: pointer;
    padding-top: 13px;
  }
}

.icone-content {
  @include flex-row;
}

/* sections de menu */

.menu-section {
  @include flex-column;
  align-content: center;
  flex-wrap: wrap;

  & h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    border-bottom: 3px solid $notification-color;
    width: 40px;
    padding-bottom: 5px;
  }

  & .menu-content-position {
    padding-left: 15px;
  }

  & .menu-animation {
    background: $notification-color;
    border-radius: 0 15px 15px 0;
    height: 72.38px;
    width: 0%;
    @include flex-row;
    align-items: center;
    z-index: 2;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
  }
}

.prix {
  @include flex-row;
  font-weight: 700;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: -22px;
}

.hover-effect {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0.5em 0 0;
}

.background-validation {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  color: $notification-color;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(360deg);
  }
}

/* animations */

.carte-animation {
  @include flex-row;
  justify-content: start;
  width: 90%;

  &:hover {
    .menu-animation {
      @include flex-row;
      width: 59px;
      opacity: 1;
    }

    & .menu-content-container {
      width: 60%;
      border-radius: 15px 0 0 15px;
    }
  }
}

.menu-content-container {
  height: 72px;
  background: $background-color;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-bottom: 30px;
  width: 90%;
  line-height: 1.5;
  cursor: pointer;
  transition: width 0.2s;
  flex: 1;
  animation: show_check 0.2s;

  & h4 {
    margin: 0.5em 0;
  }
}

/* Styles pour les différentes sections de menu (Entrée, Plat, Dessert) */

.menu-entree,
.menu-plat,
.menu-dessert {
  animation: fade-in 0.5s ease-in-out forwards;
  opacity: 0;

  &.menu-entree {
    animation-delay: 0.2s;
  }

  &.menu-plat {
    animation-delay: 0.4s;
  }

  &.menu-dessert {
    animation-delay: 0.6s;
  }
}

/* version mobile du restaurant */

@media (max-width: 768px) {
  .content {
    width: 100%;
  }

  .icone-content {
    justify-content: space-between;
  }
}
