@charset "UTF-8";
/** Les variables en SCSS permettent de stocker des valeurs réutilisables dans une 
feuille de style, pour simplifierla gestion et la mise à jour des propriétés communes. */
/** couleurs du sie **/
/** Les mixins en SCSS sont des morceaux de code réutilisables qui permettent d'inclure des styles CSS de manière modulaire.**/
/** displays flexbox **/
/** cartes restaurants **/
/** ombre portée sur le bouton explorer **/
/** transition de la couleur sur le bouton coeur **/
/* titres h2 */
/** loader **/
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
}

/** loader **/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-color: #ffffff, 90%; /** variable de couleur & function intensité **/
  z-index: 9999;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  animation: fade-out 1s forwards 2s;
}

.rotation:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #9356DC transparent #7e7e7e;
  animation: spin 1.2s linear infinite;
}

/** version desktop **/
.menu-responsive-one, .menu-responsive {
  width: 80%;
}

.menu-responsive-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

.logo,
.geolocalisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.25rem 1rem;
  font-weight: 600;
  font-size: 20px;
  gap: 20px;
  margin-top: 10px;
}

.geolocalisation {
  background-color: #eaeaea;
  box-shadow: 0 0.3rem 0.3rem rgba(63, 59, 59, 0.15), 0 -0.3rem 0.3rem rgba(63, 59, 59, 0.15);
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f7f7f7;
  text-align: center;
  font-size: 25px;
}
.reservation p { /** concaténation ( = relier ) en utilisant une esperluette (&) **/
  font-weight: 300;
  margin-top: -1px;
  margin-bottom: 45px;
}

.explorer-btn {
  background: linear-gradient(1deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0 0.3rem 0.3rem rgba(63, 59, 59, 0.15), 0 -0.3rem 0.3rem rgba(63, 59, 59, 0.15);
  color: #ffffff;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 30px;
  border: none;
  margin-bottom: 50px;
  transition-property: transform;
  transition-duration: 150ms;
  cursor: pointer;
}
.explorer-btn:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-top: 0px;
  align-content: center;
}
.menu-container .menu-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 72px;
  background: #f7f7f7;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-items: center;
  gap: 10%;
  margin: 0 0 30px 30px;
  width: 85%;
  border: none;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  justify-content: flex-start;
  cursor: pointer;
}

.menu-container h2 {
  font-size: 30px;
  padding-left: 20px;
}

.menu-nombre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-left: -12px;
  width: 1.5em;
  height: 1.5em;
  background: #9356DC;
  border-radius: 50%;
  color: #ffffff;
  min-width: 1.5em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #f7f7f7;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}
.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 25px;
  cursor: pointer;
}
.cards .card-content {
  padding: 3.4vw;
  width: 35%;
  margin-top: -55px;
}
.cards .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.cards .card-titre {
  line-height: 0.5;
  padding-left: 13px;
  margin-bottom: 15px;
}
.cards .card-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.cards h2 {
  font-size: 30px;
  padding-left: 20px;
}

.notification-nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  z-index: 1;
}

/** icônes **/
.fa-solid {
  color: #7e7e7e;
}

a:hover .fa-store:before {
  color: #9356DC;
}

.fa-store:before,
.fa-list:before,
.fa-mobile-screen-button:before {
  font-size: 20px;
}

/** icône coeur **/
.icone-coeur {
  position: relative;
}

.icone-coeur input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.icone-coeur .fa-heart {
  position: absolute;
  transition: all 0.5s ease-in-out;
  margin: -5px 0 0 -55px;
  font-size: 20px;
}

.icone-coeur input[type=checkbox]:checked ~ .icone-changement {
  opacity: 1;
}

.icone-changement {
  opacity: 0;
  background: linear-gradient(1deg, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

/** footer **/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #353535;
  padding-bottom: 22px;
  height: 186px;
  align-items: center;
  justify-content: flex-end;
}
.footer-logo {
  filter: invert(100%);
  width: 120px;
  padding: 22px 0 16px 24px;
  margin: 0 60px;
}
.footer-icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
  gap: 12px;
  line-height: 10%;
}
.footer-icone-- i {
  font-size: 12px;
}
.footer .fa-handshake-angle:before,
.footer .fa-utensils:before,
.footer a,
.footer p,
.footer .icone {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.footer-responsive-logo {
  order: 5;
}

/** version mobile **/
@media (max-width: 768px) {
  .menu-responsive-one, .cards, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;
  }
  .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 25px;
  }
  .cards .card-content {
    width: 93%;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-responsive-logo {
    order: 0;
  }
}/*# sourceMappingURL=style.css.map */